<!DOCTYPE html>
<html>

<head lang="en">
    <base href="/">
    <title>Werkplek Rapporten</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="app/app.component.css" rel="stylesheet" />
    <link rel="stylesheet" href="/node_modules/angular-notifier/bundles/style.min.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>
    
    <!-- Bundeled app -->
    <script src="app/app.bundle.js"></script>

    <!-- Redirect to SSL -->
    <script>
        if (location.protocol != 'https:' && location.hostname.toLowerCase().indexOf('localhost') == -1) {
            location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
        }
    </script>

</head>

<body>
    <pm-app>Loading Application.....</pm-app>
</body>

</html>