<div style="float:left; width:49%;">
    <h2>Werkplekken niet in orde</h2>
    <table id="dashboardWorkplaceGrid">
        <tr *ngFor='let workplace of dashboard.incompleteWorkplaces' >
            <td [routerLink]="['/workplace/detail', workplace.id]">
                <div style="float:left;">
                    <b>{{ workplace.title }}</b>
                    <br />
                    <span class="address">{{ workplace.address.street }} {{ workplace.address.number }}, {{ workplace.address.zipcode}} {{ workplace.address.city}}</span>
                </div>
                <div style="float:right; vertical-align:middle">
                    <img src='images/warning.png'>
                </div>
            </td>
        </tr>
    </table>
</div>

<div style="float:right; width:49%;">
    <h2>Statistieken</h2>
    <table id="dashboardStatisticsGrid">
        <tr>
            <td class="small"><img src='images/success.png'></td>
            <td><b>{{ dashboard.totalItemsOk }}/{{ dashboard.totalItems }}</b>({{ dashboard.totalItemsOk / dashboard.totalItems * 100  }}%)</td>
            <td class="small"><img src='images/warning.png'></td>
            <td><b>{{ dashboard.totalItemsFail }}/{{ dashboard.totalItems }}</b>({{ dashboard.totalItemsFail / dashboard.totalItems * 100  }}%)</td>
            <td class="small"><img src='images/nvt.png'></td>
            <td><b>{{ dashboard.totalItemsNvt }}/{{ dashboard.totalItems }}</b>({{ dashboard.totalItemsNvt / dashboard.totalItems * 100  }}%)</td>
            <td class="small"><img src='images/questionmark.png'></td>
            <td><b>{{ dashboard.totalItemsNull }}/{{ dashboard.totalItems }}</b>({{ dashboard.totalItemsNull / dashboard.totalItems * 100  }}%)</td>
        </tr>
        <tr>
            <td [routerLink]="['/workplace/list']"><img src='images/check.png'></td>
            <td colspan="7"><b>{{ dashboard.reportsCount }} werkplek rapporten</b></td>
        </tr>
    </table>
</div>