
@model PreventionAdvisor.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<form method="post" novalidate>
    <label asp-for="Username"></label>
    <input asp-for="Username" />

    <label asp-for="Password"></label>
    <input type="password" asp-for="Password" />

    <input type="submit" value="login" />
</form>