<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <ul class='nav navbar-nav'>
                <li *ngIf='_authService.isAuthenticated()'><a [routerLink]="['/workplaces']">Rapporten</a></li>
                <li *ngIf='_authService.isAuthenticated()'><a [routerLink]="['/organizations']">Mijn organisaties</a></li>
                <li *ngIf='!_authService.isAuthenticated()'><a [routerLink]="['/login']">Aanmelden</a></li>
                <li *ngIf='_authService.isAuthenticated()'><a style="cursor:pointer" (click)="logout()">{{ _authService.getUser().firstname }} afmelden</a></li>
                <li><a [routerLink]="['/register']">Registreren</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>