<div id="wrapper">
    <div id="left">
        <b>#{{ workplace.projectNumber }}</b>
        <br />
        <b>{{ workplace.title }}</b>
        <br /><br /> {{ workplace.address.street }} {{ workplace.address.number }} <br /> {{ workplace.address.zipcode }}
        {{ workplace.address.city }}
        <br />
        <br />
        <br />
        <b>Werfleider</b><br /> {{ workplace.projectLead }}
        <br />
        <br />
        <br />
        <b>Controleur</b><br /> {{ workplace.projectController }}
        <br />
        <br />
        <a [routerLink]="['/workplace/', workplace.id]">Bewerken</a>
        <br />
        <hr />
        <br /> {{ completedItems }}/{{ workplace.checklistItems.length }} ({{ (completedItems/workplace.checklistItems.length)*100
        | number : '1.0-0' }}%)
        <br />
        <br />
        <hr />
        <br /> Afprinten <br /> Downloaden <br /> Emailen <br />
        <br />
        <hr />
        <br /> Rapport door organisatie: <br />
        <b>{{ workplace.organization.name }}</b>

    </div>

    <div id="right">
        <div>
            <div>
                <div>
                    <input type='text' [(ngModel)]='listFilter' placeholder="Zoeken..." />
                    <button>+</button>
                </div>
            </div>
            <br />
            <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

            <div *ngFor='let category of categories'>
                <h3>{{ category.title }}</h3>

                <div class='table-responsive'>
                    <table class='table' *ngIf='workplace.checklistItems && workplace.checklistItems.length'>
                        <tbody>
                            <tr (click)="editChecklistItem(checklistItem) ; editStateModal.show()" *ngFor='let checklistItem of workplace.checklistItems | checkListItemFilter:listFilter | checkListItemCategoryFilter:category '>
                                <td class="checkListItemListName">{{ checklistItem.title }}</td>
                                <td class="checkListItemListStatus">
                                    <img *ngIf='checklistItem.status === 1' src='images/success.png'>
                                    <img *ngIf='checklistItem.status === 2' src='images/nvt.png'>
                                    <img *ngIf='checklistItem.status === 3' src='images/warning.png'>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal #editStateModal id="editStateModal">
    <div class="app-modal-header">
        <h3> {{ selectedItem.title }} </h3>
    </div>
    <div class="app-modal-body">
        <table id="modal1-table">
            <tr>
                <td [class.grayscale]="selectedItem.status != 1" [class.selectedItem]="selectedItem.status == 1" (click)="selectedItem.status = 1">
                    <img src="images/success.png" />&nbsp;In Orde
                </td>
                <td [class.grayscale]="selectedItem.status != 2" [class.selectedItem]="selectedItem.status == 2" (click)="selectedItem.status = 2">
                    <img src="images/nvt.png" />&nbsp;N.v.t.
                </td>
                <td [class.grayscale]="selectedItem.status != 3" [class.selectedItem]="selectedItem.status == 3" (click)="selectedItem.status = 3">
                    <img src="images/warning.png" />&nbsp;Niet ok
                </td>
            </tr>
        </table>
        <br />
        <textarea cols="70" rows="10" placeholder="Extra informatie..." [(ngModel)]='selectedItem.description'></textarea>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="resetChecklistItem() ; editStateModal.hide()">Sluiten</button>
        <button type="button" class="btn btn-primary" (click)="saveItem(); editStateModal.hide()" >Opslaan</button>
    </div>
</app-modal>