<div id="wrapper">
    <div id="left">
        <b>#{{ workplace.projectNumber }}</b>
        <br />
        <b>{{ workplace.title }}</b>
        <br /><br /> {{ workplace.address.street }} {{ workplace.address.number }} <br /> {{ workplace.address.zipcode }}
        {{ workplace.address.city }}
        <br />
        <br />
        <br />
        <b>Werfleider</b><br /> {{ workplace.projectLead }}
        <br />
        <br />
        <br />
        <b>Controleur</b><br /> {{ workplace.projectController }}
        <br />
        <br />
        <a [routerLink]="['/workplace/', workplace.id]">Bewerken</a>
        <br />
        <hr />
        <br /> TODO %
        <br />
        <br />
        <hr />
        <br /> <a [routerLink]="['/workplace/print', workplace.id]">Afprinten</a> <br /> Downloaden <br /> Emailen <br />
        <br />
        <hr />
        <br /> Rapport door organisatie: <br />
        <b>{{ workplace.organization.name }}</b>
    </div>
    <div id="right">
        <checkListItemList [workplace]="workplace" on-updateWorkplace="setWorkplace($event)" on-requestDataRefresh="getWorkplace($event)"></checkListItemList>
    </div>
</div>