

<div>
    <div>
        <div>
            <input type='text' [(ngModel)]='listFilter' placeholder="Zoeken..."/>
            <button>Nieuw bedrijf</button>
        </div>
    </div>

    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

    <div class='table-responsive'>
        <table class='table' *ngIf='organizations && organizations.length'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Vat</th>
                    <th>Website</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let organization of organizations | organizationFilter:listFilter'>
                    <td ><a [routerLink]="['/organization', organization.Id]">{{ organization.name }}</a></td>
                    <td>{{ organization.vat | lowercase }}</td>
                    <td>{{ organization.website }}</td>
                    <td>{{ organization.phone }}</td>
                    <td>{{ organization.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
