.header{
    border-bottom: 1px solid gray;
}

.printableTable {
    width: 100%;
}

.printableTable td, th{
    border: 1px solid black;
    padding: 2px;
    min-width: 50px;
    max-width: 200px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printArea, #printArea * {
    visibility: visible;
  }
  #printArea {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}